* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Whitespace */
  --x-large: 6.8125rem;
  --large: 4.5rem;
  --medium: 3rem;
  --small: 2.3125rem;
  --x-small: 1.4375rem;

  /* colors */
  --brand-blue: #0032e3;
  --shade-blue: #7c93e5;
  --key-section: #e8eef8;
  --line-color: #e0dada;

  /* Text colors */
  --really-white: #ffffff;
  --text: #000000;
  --paragraph: #6d6d6d;
  --hero-text: #bccbfe;

  /* status colors */
  --bad-red: #e5442e;
  --awesome-green: #6fa52b;
}

body {
  font-family: "Inter", sans-serif;
}

/* basic reset */
p {
  color: var(--paragraph);
}

h1,
h2,
h3 {
  font-weight: 600;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--really-white);
}

button {
  border: 1px solid var(--really-white);
  border-radius: 10px;
  background-color: transparent;
}

button a {
  padding: 0.8rem 1rem;
  border-radius: 10px;
  display: inline-block;
}

img {
  width: 100%;
}

/* Reusable classes */
.width-center {
  width: 85%;
  margin: 0 auto;
}

.margin-center {
  margin: 0 auto;
}

.mb-xsmall {
  margin-bottom: var(--x-small);
}

.mb-medium {
  margin-bottom: var(--medium);
}

.line {
  border-bottom: 1px solid var(--line-color);
}

.only-desktop {
  display: none;
}
/* header section  mobile view*/
nav {
  display: flex;
  justify-content: space-between;
}

.cover {
  background-color: var(--brand-blue);
  padding: var(--small) 1rem;
}

.logo,
.advantages,
.signin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  cursor: pointer;
}

.advantages li,
.signin p {
  margin-right: var(--medium);
}
.humber-menu {
  margin-right: 1rem;
}

.advantages,
.signin p {
  display: none;
}

.hero-block {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.hero-header {
  font-size: 3rem;
  color: var(--really-white);
}

.hero-text {
  color: var(--hero-text);
  line-height: 1.5;
}

/* Product section */
section {
  background-color: var(--really-white);
  padding-top: var(--medium);
}

.dashboard-h2,
.dashboard-p {
  text-align: center;
  margin: 0 auto;
}

.dashboard-h2 {
  width: 80%;
  margin-bottom: var(--x-small);
}

.dashboard-p {
  width: 85%;
  margin-bottom: var(--small);
}

.dashboard {
  overflow: hidden;
}

/* Story section */
.story {
  margin-bottom: var(--medium);
}
.story-container img {
  width: 100%;
  border-radius: 10px;
}
.story-container h2 span {
  color: var(--brand-blue);
}

.user-story h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.user-performance {
  color: var(--text);
  font-weight: bold;
  padding-bottom: var(--x-small);
  border-bottom: 1px solid var(--line-color);
}

.currency {
  margin: var(--large) 0;
}

.currency-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: var(--medium);
}

.currency-name {
  margin-bottom: 0.5rem;
}
.currency-name p {
  font-weight: 600;
  color: var(--text);
}

.growth,
.decline {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  border: 1px solid;
}

.growth {
  color: var(--awesome-green);
  border-color: var(--awesome-green);
}

.decline {
  color: var(--bad-red);
  border-color: var(--bad-red);
}

/* Privacy section */
.privacy {
  background-color: var(--key-section);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.privacy-image,
.privacy-content {
  width: 85%;
}

.privacy-content p:last-child {
  font-weight: 600;
  color: var(--text);
  margin-bottom: 0;
}

/* Start section */
.start {
  padding-top: var(--small);
  border-bottom: none;
}

.start-content {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--medium);
}
.start-content h2 {
  width: 85%;
}

.start-button {
  background-color: var(--brand-blue);
  color: var(--really-white);
  font-size: 1.125rem;
  width: 100%;
  padding: 1rem 0;
}

footer {
  border-top: 1px solid var(--line-color);
}

.join {
  width: 86%;
  margin: var(--medium) auto 0 auto;
}

.join img {
  width: 5rem;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid var(--text);
  margin-bottom: var(--medium);
}
.form p {
  padding-left: 1rem;
  color: var(--text);
}

.form-button {
  margin-left: auto;
  background-color: var(--brand-blue);
  color: var(--really-white);
  border-radius: 10px;
  padding: 0.8rem 1rem;
}

.our-products {
  width: 85%;
  margin: 0 auto var(--small) auto;
}
.our-products span {
  color: var(--text);
  font-weight: 600;
}

.our-products li {
  margin-bottom: 0.7rem;
}
.our-products li a {
  color: var(--paragraph);
}

.copyright {
  color: var(--text);
  font-weight: 400;
  margin-top: var(--medium);
  padding-bottom: 2rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    width: 95%;
  }
  .signin p {
    display: flex;
  }
  button a {
    padding: 1.2rem 1.4rem;
  }
  nav {
    margin-bottom: var(--large);
  }
  .signin {
    font-size: 1rem;
  }

  .hero-block {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }
  .hero-intro {
    width: 35%;
  }

  .hero-header {
    margin-bottom: var(--medium);
  }

  .hero-image {
    width: 70%;
  }

  .hero-image img {
    display: block;
    transform: scale(1.2);
  }

  .hero-text {
    width: 75%;
  }

  /* dashboard section tablet */
  .space-top {
    margin-top: var(--large);
  }
  .dashboard-p {
    width: 42%;
  }
  .dashboard {
    width: 95%;
  }

  /* user story */
  .story-container {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
  }

  .story-image {
    margin-bottom: 0;
    width: 40%;
  }

  .story-user-text {
    width: 40%;
    margin-left: 5rem;
  }
  .story-user-text h2 {
    margin-top: var(--large);
    width: 70%;
  }
  .story-user-text p {
    width: 66%;
  }

  .user-performance p {
    flex: 1;
  }

  .performance {
    width: 100%;
  }
  .currency {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .currency-box {
    width: 33.3333%;
  }

  .currency-box {
    margin-bottom: 0;
  }
  .story {
    margin-bottom: 0;
  }

  /* privacy section */
  .privacy {
    flex-direction: row;
  }
  .privacy-image,
  .start-image {
    width: 40%;
    transform: scale(1.3);
  }
  .privacy-content,
  .start-content {
    margin-left: 4rem;
    width: 40%;
  }

  .privacy-content p {
    width: 81%;
  }

  /* start section */
  .start {
    padding-bottom: var(--medium);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* footer */
  footer {
    display: flex;
    flex-wrap: wrap;
  }
  .join,
  .useful-link,
  .copyright {
    width: 95%;
    margin: 0 auto;
  }

  .join {
    margin: var(--large) auto;
    justify-self: flex-start;
  }

  .join p {
    width: 35%;
  }
  .form {
    width: 50%;
  }

  .useful-link {
    display: flex;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1920px) {
  header {
    width: 95%;
    height: 65vh;
  }
  nav {
    margin-bottom: var(--x-large);
  }
  .humber-menu {
    display: none;
  }
  .advantages,
  .signin p {
    display: inline-flex;
  }

  .advantages li:last-child {
    margin-right: 0;
  }

  .hero-block {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .hero-intro {
    width: 45%;
    height: 100%;
  }

  .hero-header {
    width: 60%;
    font-size: 3.5rem;
  }
  .hero-text {
    width: 65%;
    font-size: 1.2rem;
  }

  .hero-image {
    width: 50%;
  }

  .hero-image img {
    display: block;
    transform: scale(1.2) translateX(-5rem) translateY(5rem);
  }

  .more-space {
    width: 100%;
    height: 8rem;
  }

  .only-desktop {
    display: block;
  }
  .dashboard-section {
    display: flex;
    width: 85%;
    margin: 0 auto;
  }

  .dashboard-h2 {
    text-align: left;
    width: 45%;
  }

  .dashboard-left {
    width: 60%;
    margin: 0 auto;
  }

  .dashboard-left p {
    text-align: left;
    width: 56%;
  }

  .demo-button {
    background-color: var(--brand-blue);
    color: var(--really-white);
    font-weight: 600;
    padding: 1rem 2rem;
    cursor: pointer;
  }
  .dashboard img {
    height: 80%;
  }

  .story-image{
    width: 30%;
    border: 2px solid olivedrab;
  }
}
